<%- include('partials/header') -%> 
<div class="column">
    <div class="card">
      <div class="container">
        <h2>Nawras Hamdan</h2>
        <p class="title"> Web Developer, System Admin, Cloud Engineer</p>
        <p>To be a part of web development solutions team and work on developing new solutions and provide support and debugging existing solutions.
        </p>
        <p>Being a System Admin and Cloud Engineer. I am familiar with Linux , Database Administration and Cloud Solutions like AWS.</p>
      </div>
    </div>
  </div>
<%- include('partials/footer') -%> 